.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #e39652;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar {
  height: 100%;
  min-width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  padding: 4px 0px;
}
.nav-item {
  margin: 1px 1px;
  font-size: small;
  font-weight: 360;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}
.nav-btn {
  cursor: pointer;
  border-radius: 70px;
  padding: 1px 20px;
}
.nav-item:hover {
  background-color: rgb(229, 228, 226);
}
.main-nav form {
  flex-grow: 1;
  padding: 0px 19px;
  position: relative;
}

.main-nav form input {
  width: 90%;
  max-width: 300px;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
  box-sizing: border-box;
}

.main-nav form .search-icon {
  position: absolute;
  left: 30px;
  top: 10px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px rgb(31, 31, 129);
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
}
.nav-links:hover {
  background-color: #d3e4eb;
}
